@import url("components/nav.css");
@import url("components/banner.css");
@import url("components/info.css");
@import url("components/gallery.css");
@import url("components/footer.css");

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #eee;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

input {
  outline: none;
  border: none;
}

button {
  outline: none;
  border: none;
}
